{% extends 'base.html' %}
{% load static %}

{% block title %}AskPupkin - New Question{% endblock %}

{% block content %}
<div class="content_header">
    <h2>New Question</h2>
</div>

{% if form.errors %}
    <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% if user.is_authenticated %}
     <form method="POST" name="new_question" action="{% url 'ask' %}">
         {% csrf_token %}

         <label class="form-label">{{ form.title.label }}</label>
         {{ form.title }}

         <label class="form-label">{{ form.content.label }}</label>
         {{ form.content }}

         <label class="form-label">{{ form.tags.label }}</label>
         {{ form.tags }}

        <div></div>
        <button type="submit" class="btn btn-outline-primary">ASK!</button>
    </form>
{% else %}
    <div class="text-center mb-4 p-3 bg-white border rounded">
        <a href="{% url 'login' %}?next={% url 'ask' %}">Log in</a> to ask the question.
    </div>
{% endif %}
{% endblock %}
