{% extends 'base.html' %}
{% load static %}

{% block title %}AskPupkin registration{% endblock %}
{% block content %}
<div class="content_header">
    <h2>Registration</h2>
</div>

{% if form.errors %}
    <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

<form method="POST" name="registration" >
    {% csrf_token %}

    <label class="form-label">{{ form.username.label }}</label>
    {{ form.username }}

    <label class="form-label">{{ form.email.label }}</label>
    {{ form.email }}

    <label class="form-label">{{ form.nickname.label }}</label>
    {{ form.nickname }}

    <label class="form-label">{{ form.password.label }}</label>
    {{ form.password }}

    <label class="form-label">{{ form.password_confirm.label }}</label>
    {{ form.password_confirm }}

    <label class="form-label">{{ form.avatar.label }}</label>
    {{ form.avatar }}

    <div></div>
    <button type="submit" class="btn btn-outline-primary">Register!</button>
</form>
{% endblock %}
