{% extends 'base.html' %}
{% load static %}

{% block title %}AskPupkin settings{% endblock %}
{% block content %}
<div class="content_header">
    <h2>Settings: {{user.username}}</h2>
</div>

{% if form.errors %}
<div class="alert alert-danger">
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}


<form method="POST" name="setting" enctype="multipart/form-data">
    {% csrf_token %}

     <label class="form-label">{{ form.username.label }}</label>
    {{ form.username }}

    <label class="form-label">{{ form.nickname.label }}</label>
    {{ form.nickname }}

    <label class="form-label">{{ form.email.label }}</label>
    {{ form.email }}

   <label class="form-label">{{ form.avatar.label }}</label>
    {{ form.avatar }}
    {% if user.profile.avatar %}
        <div></div>
        <div class="mb-2">
            <img src="{{ user.profile.avatar.url }}" width="100" class="rounded-circle">
        </div>
    {% endif %}

    <div></div>
    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>
{% endblock %}